body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  /* min-height: 400px; */
  margin: 40px 0;
}
.hero-image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 40px;
  opacity: 50%;
}

.lawyer-image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 40px;
  opacity: 50%;
}

.calculator-image {
  height: 200px;
  width: 200px;
  margin: 40px;
  opacity: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-lg {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col-sm {
  display: flex;
  align-items: center;
}

.calculator.row {
  position: relative;
}

@media only screen and (max-width: 892px) {
  .calculator.row {
    flex-direction: column-reverse;
    min-height: auto;
  }
  .index-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-container {
    display: none;
  }
}
